#root {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
.App{
  width: 90vw;
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
