#root {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 5px black;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (max-width:550px){
  #root{
    width: 100vw!important;
    padding: 0.4rem;
    /* overflow-x: hidden; */
  }
}